body {line-height:130%}
h1:before {
  content: counter(h1num) ". ";
  counter-increment: h1num;
  counter-reset: h2num;
}
h1 {font-size:160%; font-family:sans-serif; font-weight:bold}
h2:before {
  content: counter(h1num) "." counter(h2num) ". ";
  counter-increment: h2num;
  counter-reset: h3num;
}
h2 {font-size:140%; font-family:sans-serif; font-weight:bold}
h3:before {
  content: counter(h1num) "." counter(h2num) "." counter(h3num) ". ";
  counter-increment: h3num;
  counter-reset: h4num;
}
h3 {font-size:120%; font-family:sans-serif; font-weight:bold}
h4:before {
  content: counter(h1num) "." counter(h2num) "." counter(h3num) "." counter(h4num) ". ";
  counter-increment: h4num;
}
h4 {font-size:120%; font-family:sans-serif; font-weight:bold}
h4:before {
  content: counter(h1num) "." counter(h2num) "." counter(h3num) "." counter(h4num) "." counter(h5num) ". ";;
  counter-increment: h5num;
}
h5 {font-family:sans-serif; font-weight:bold}
li {margin-left:1em; margin-bottom:1em}
.codeSample {border-style:solid; border-color: gray; padding:0.5em}
