.md-content {
  max-width: none !important;
}

.md-grid {
  max-width: none !important;
}

.md-header-translate {
  display: inline-block;
  margin-right: 1rem;
}

#language-select {
  background-color: transparent;
  color: var(--md-primary-fg-color--light);
  border: 1px solid var(--md-primary-fg-color--light);
  border-radius: 4px;
  padding: 4px 8px;
}

.md-header__button.md-logo img {
    height: 3.2rem;
}


.md-header__button.md-logo {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 2px;
    padding-bottom: 1px;
}
