body {line-height:130%}
h1 {font-size:160%; font-family:sans-serif; font-weight:bold; text-align: center;}
h2 {font-size:140%; font-family:sans-serif; font-weight:bold}
h3 {font-size:120%; font-family:sans-serif; font-weight:bold}
h4 {font-size:120%; font-family:sans-serif; font-weight:bold}
h5 {font-family:sans-serif; font-weight:bold}
li {margin-left:1em; margin-bottom:0.5em; margin-top:1em; font-size: 120%; font-weight: bolder;}
.codeSample {border-style:solid; border-color: gray; padding:0.5em}

.disclaimer {text-align: center; text-decoration: underline; font-weight: bold;}
.lastUpdate {text-align: center; font-weight: bold;}
